<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/give_link_page.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Recorder - give youtube link</title>
  </head>
  <body>
    <a href="/">
      <svg
        id="back-button"
        width="30px"
        height="30px"
        viewBox="0 0 16 16"
        class="bi bi-arrow-left-circle"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        />
        <path
          fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
        />
      </svg>
    </a>
    <h1 id="title">Please provide a Youtube link</h1>
    <form method="POST" , id="url-form">
      <input type="url" id="url-enter" name="url-enter" /><br /><br />
      <input type="submit" id="submit" />
    </form>
  </body>
  <script src="../static/js/prevent_space.js"></script>
  <script src="../static/js/jquery.js"></script>
</html>
